# ðŸŽ¯ Notebook 04: Indexing and Selection

Time to slice and dice.

In this notebook, you'll:
- Use `.loc[]` for label-based selection
- Use `.iloc[]` for position-based selection
- Create boolean masks to filter rows
- Select specific columns and rows (solo or together)

Let the chaos of index manipulation begin.
---

In [2]:
import pandas as pd
import seaborn as sns

# We'll use the Titanic dataset again
df = sns.load_dataset("titanic")
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

## ðŸ”Ž Select rows by label with `.loc[]`

In [3]:
# .loc[row_label, column_label]
# Titanic uses default RangeIndex, so labels are integers
print(df.loc[0])

# Row range (inclusive!)
df.loc[0:4, ["age", "fare", "sex"]]

survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

    age     fare     sex
0  22.0   7.2500    male
1  38.0  71.2833  female
2  26.0   7.9250  female
3  35.0  53.1000  female
4  35.0   8.0500    male

## ðŸ”¢ Select rows by position with `.iloc[]`

In [4]:
# iloc uses pure positions
df.iloc[0]  # First row

# Row slice, column slice
df.iloc[1:4, 0:5]

   survived  pclass     sex   age  sibsp
1         1       1  female  38.0      1
2         1       3  female  26.0      0
3         1       1  female  35.0      1

## ðŸŽ¯ Boolean Masking (Filtering)

In [5]:
# Filter passengers under age 10
kids = df[df["age"] < 10]
kids[["age", "sex", "class"]].head()

    age     sex   class
7   2.0    male   Third
10  4.0  female   Third
16  2.0    male   Third
24  8.0  female   Third
43  3.0  female  Second

## ðŸ§  Compound Conditions

In [6]:
# Adults in First Class who paid over $100
rich_folks = df[(df["age"] > 18) & (df["class"] == "First") & (df["fare"] > 100)]
rich_folks[["age", "class", "fare"]].head()

      age  class      fare
27   19.0  First  263.0000
88   23.0  First  263.0000
118  24.0  First  247.5208
195  58.0  First  146.5208
215  31.0  First  113.2750

## ðŸ§¹ Select Columns Only

In [7]:
df[["sex", "age", "embarked"]].head()

      sex   age embarked
0    male  22.0        S
1  female  38.0        C
2  female  26.0        S
3  female  35.0        S
4    male  35.0        S

## ðŸŽ¯ Your Turn

1. Select the first row using `.iloc[]`, then again using `.loc[]`.
2. Slice the first 5 rows and select only `survived`, `sex`, and `age` columns.
3. Filter the dataset for female passengers over 40.
4. Create a DataFrame of passengers in 2nd class under age 15.
5. Use `.loc[]` to select the rows 10â€“20 and only the columns `fare`, `class`, and `age`.

ðŸŽ¯ **Bonus:** Find passengers with missing `age` and print only their `name`, `age`, and `pclass` (use `.isnull()`).

In [11]:
# Select the first row using .iloc[]
df.iloc[0]

survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

In [10]:
# Select the first row using .loc[]
df.loc[0]

survived                 0
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

In [23]:
# Slice the first 5 rows and select only survived, sex, and age columns
df.iloc[0:5][["survived", "sex", "age"]]

   survived     sex   age
0         0    male  22.0
1         1  female  38.0
2         1  female  26.0
3         1  female  35.0
4         0    male  35.0

In [20]:
# Filter the dataset for females over 40
df[(df["sex"] == "female") & (df["age"] > 40)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
52,1,1,female,49.0,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
132,0,3,female,47.0,1,0,14.5000,S,Third,woman,False,NaN,Southampton,no,False
167,0,3,female,45.0,1,4,27.9000,S,Third,woman,False,NaN,Southampton,no,False
177,0,1,female,50.0,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
194,1,1,female,44.0,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.0,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
254,0,3,female,41.0,0,2,20.2125,S,Third,woman,False,NaN,Southampton,no,False
259,1,2,female,50.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
268,1,1,female,58.0,0,1,153.4625,S,First,woman,False,C,Southampton,yes,False
272,1,2,female,41.0,0,1,19.5000,S,Second,woman,False,NaN,Southampton,yes,False
275,1,1,female,63.0,1,0,77.9583,S,First,woman,False,D,Southampton,yes,False
276,0,3,female,45.0,0,0,7.7500,S,Third,woman,False,NaN,Southampton,no,True
299,1,1,female,50.0,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False
337,1,1,female,41.0,0,0,134.5000,C,First,woman,False,E,Cherbourg,yes,True
362,0,3,female,45.0,0,1,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
366,1,1,female,60.0,1,0,75.2500,C,First,woman,False,D,Cherbourg,yes,False
380,1,1,female,42.0,0,0,227.5250,C,First,woman,False,NaN,Cherbourg,yes,True
432,1,2,female,42.0,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
440,1,2,female,45.0,1,1,26.2500,S,Second,woman,False,NaN,Southampton,yes,False
458,1,2,female,50.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
483,1,3,female,63.0,0,0,9.5875,S,Third,woman,False,NaN,Southampton,yes,True
496,1,1,female,54.0,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
513,1,1,female,54.0,1,0,59.4000,C,First,woman,False,NaN,Cherbourg,yes,False
523,1,1,female,44.0,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
526,1,2,female,50.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
556,1,1,female,48.0,1,0,39.6000,C,First,woman,False,A,Cherbourg,yes,False
571,1,1,female,53.0,2,0,51.4792,S,First,woman,False,C,Southampton,yes,False
591,1,1,female,52.0,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
638,0,3,female,41.0,0,5,39.6875,S,Third,woman,False,NaN,Southampton,no,False
678,0,3,female,43.0,1,6,46.9000,S,Third,woman,False,NaN,Southampton,no,False
706,1,2,female,45.0,0,0,13.5000,S,Second,woman,False,NaN,Southampton,yes,True
736,0,3,female,48.0,1,3,34.3750,S,Third,woman,False,NaN,Southampton,no,False
754,1,2,female,48.0,1,2,65.0000,S,Second,woman,False,NaN,Southampton,yes,False
765,1,1,female,51.0,1,0,77.9583,S,First,woman,False,D,Southampton,yes,False
772,0,2,female,57.0,0,0,10.5000,S,Second,woman,False,E,Southampton,no,True
774,1,2,female,54.0,1,3,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
779,1,1,female,43.0,0,1,211.3375,S,First,woman,False,B,Southampton,yes,False
796,1,1,female,49.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
820,1,1,female,52.0,1,1,93.5000,S,First,woman,False,B,Southampton,yes,False
829,1,1,female,62.0,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
854,0,2,female,44.0,1,0,26.0000,S,Second,woman,False,NaN,Southampton,no,False
856,1,1,female,45.0,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True
865,1,2,female,42.0,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False

In [28]:
# Create a dataframe of passengers in 2nd class under age 15
df[(df["pclass"] == 2) & (df["age"] < 15)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
340,1,2,male,2.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False
407,1,2,male,3.00,1,1,18.7500,S,Second,child,False,NaN,Southampton,yes,False
446,1,2,female,13.00,0,1,19.5000,S,Second,child,False,NaN,Southampton,yes,False
530,1,2,female,2.00,1,1,26.0000,S,Second,child,False,NaN,Southampton,yes,False
535,1,2,female,7.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
549,1,2,male,8.00,1,1,36.7500,S,Second,child,False,NaN,Southampton,yes,False
618,1,2,female,4.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
720,1,2,female,6.00,0,1,33.0000,S,Second,child,False,NaN,Southampton,yes,False
750,1,2,female,4.00,1,1,23.0000,S,Second,child,False,NaN,Southampton,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
827,1,2,male,1.00,0,2,37.0042,C,Second,child,False,NaN,Cherbourg,yes,False
831,1,2,male,0.83,1,1,18.7500,S,Second,child,False,NaN,Southampton,yes,False

In [29]:
# Use .loc[] to select the rows 10â€“20 and only the columns fare, class, and age
df.loc[10:20, ["fare", "class", "age"]]

       fare   class   age
10  16.7000   Third   4.0
11  26.5500   First  58.0
12   8.0500   Third  20.0
13  31.2750   Third  39.0
14   7.8542   Third  14.0
15  16.0000  Second  55.0
16  29.1250   Third   2.0
17  13.0000  Second   NaN
18  18.0000   Third  31.0
19   7.2250   Third   NaN
20  26.0000  Second  35.0

In [34]:
# Find passengers with missing age and print only their name, age, and pclass (use .isnull())
bonus = df[df["age"].isnull()]

print(bonus[["age", "pclass"]])

     age  pclass
5    NaN       3
17   NaN       2
19   NaN       3
26   NaN       3
28   NaN       3
..   ...     ...
859  NaN       3
863  NaN       3
868  NaN       3
878  NaN       3
888  NaN       3

[177 rows x 2 columns]

---
## ðŸ§¼ Why This Matters

Being able to surgically select parts of your dataset is the core of real analysis. Whether you're cleaning junk or feeding a model, proper indexing = power.

Next: cleaning your data with `.dropna()`, `.fillna()`, and more. The fun begins when you try to fix the stuff that's broken.