# üìò 01 - For Loops

Learn how to use `for` loops to iterate over sequences.

## ‚úÖ Learning Goals
- Use `for` with lists, strings, and `range()`
- Understand loop variables and block structure

In [1]:
# üîÅ Loop over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
# üîÅ Loop over characters in a string
word = 'hello'
for char in word:
    print(char)

h
e
l
l
o

In [3]:
# üîÅ Using range()
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
# ‚ûï Loop with math
for i in range(1, 6):
    print(f'{i} squared is', i ** 2)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

### ‚úèÔ∏è Your Turn
Loop over a list of 3 favorite movies and print them in all caps.



```
# Name: Jadyn Dangerfield
# Assignment: 01-For Loops
# Description:

# This code loops over a list of 3 of my favorite movies and prints them in all caps.
```

In [5]:
# creates a list of 3 of my favorite movies
movies = ['The Incredibles', 'Jujutsu Kaisen 0', 'KPOP Demon Hunters']

# loops over the list and prints them in all caps
for movie in movies:
  print(movie.upper())

THE INCREDIBLES
JUJUTSU KAISEN 0
KPOP DEMON HUNTERS