# üìò 03 - Data Types and Arithmetic

Explore Python basics like variables, data types, and arithmetic operations.

## ‚úÖ Learning Goals
- Understand Python data types
- Use variables and print statements
- Perform basic arithmetic

In [3]:
# üß† Variables and Types
x = 10
y = 3.5
z = 'hello'
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

In [4]:
# ‚ûï Arithmetic Operations
print('Add:', x + y)
print('Divide:', x / y)
print('Floor Divide:', x // y)
print('Exponent:', x ** 2)

Add: 13.5
Divide: 2.857142857142857
Floor Divide: 2.0
Exponent: 100

## ‚úèÔ∏è Try It Yourself
- Create your own variables
- Try combining numbers and strings
- Use `input()` to interact



```
# Name: Jadyn Dangerfield
# Assignment: 03-Data Types and Arithmetic
# Description:

# This code asks the user to input their name an age, then performs arithmetic.
```

In [14]:
# stores the user's name as a string
name = input('What is your name? ')
# stores the user's age as a string
age = input('How old are you? ')
# the current year
year = 2025
# type casts age into an int, and subtracts it from the current year
birth_year = year - int(age)

# prints the user's name and age
print('Hi! My name is', name, 'and I am', age, 'years old.')
# prints the user's birth year and age in 1 year
print('I was born in', birth_year, ', and next year, I will be turning', int(age) + 1, '!')
# compares me and my sister's age
print('I am over', int(age) // 9, "times my sister's age")

What is your name? Jadyn
How old are you? 21
Hi! My name is Jadyn and I am 21 years old.
I was born in 2004 , and next year, I will be turning 22 !
I am over 2 times my sister's age

## üì§ Submit
Make sure your name is at the top in a Markdown cell.
Submit via D2L or Colab link.